# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
env/Lib/
env/Scripts/
env/Include/
env/pyvenv.cfg
env/.gitignore

# Database
db.sqlite3

# WhatsApp Chrome profile
wa_profile/

# IDE
.vscode/
.idea/
*.swp
*.swo
